{% load humanize %}

<div class="book-detail">
  <div class="book-image">
    <img src="https://placehold.jp/ffa500/ff8c00/200x280.png?text=COMIC" alt="">
  </div>
  <div class="book-data">
    <div class="title">{{ book.title }}</div>
    <div class="author">{{ book.author }}</div>
    <div class="price">{{ book.price|intcomma }}<span class="yen">円</span> <span class="taxin">(税込)</span></div>

    <div class="description">
      <p>{{ book.description }}</p>
    </div>
  </div>
</div>

<div class="other-detail">
  <div class="header">その他の詳細</div>
  <table>
    <tr>
      <th>出版日:</th><td>{{ book.published_at|date:"Y/m/d" }}</td>
    </tr>
    <tr>
      <th>ページ数:</th><td>{{ book.page_count }}ページ</td>
    </tr>
    <tr>
      <th>カテゴリ:</th><td>{{ book.categoryName }}</td>
    </tr>
  </table>
</div>
