{% for books, prefix, title, image in slider_elements %}
  <div id="{{ prefix }}-slider" class="category-book-slider">
    <h2 class="{{ prefix }}-header">{{ title }}</h2>
    <carousel :per-page="4" :pagination-enabled="false" :navigation-enabled="true">
      {% for book in books %}
        <slide>
          <a href="{% url 'detail' book.id %}">
            <div class="book-image">
              <img src="{{ image }}" alt="">
            </div>
            <div class="book-title">{{ book.shortTitle }}</div>
            <div class="book-price">¥ {{ book.price }}</div>
          </a>
        </slide>
      {% endfor %}
    </carousel>
  </div>
{% endfor %}
