{% load static %}

<header>
  <div class="container">
    <div class="logo">
      <a href="{% url 'index' %}">Y-books</a>
    </div>
    <div class="search-box">
      <div class="icon"><img src="{% static 'books/images/icon-search.svg' %}" alt=""></div>
      <form action="{% url 'search' %}" method="GET">
        <input type="text" id="search" name="text" placeholder="タイトル・説明で検索">
      </form>
    </div>
    <nav class="global-nav">
      <ul>
        <li>カテゴリ</li>
        <li>検索</li>
        <li>ヘルプ</li>
      </ul>
    </nav>
  </div>
</header>
