<div id="popular-books-slider" class="popular-books">
  <div class="container">
    <carousel :per-page="1" pagination-color="#a9a9a9">
      {% for book in books %}
        <slide>
          <a href="{% url 'detail' book.id %}">
            <div class="book-data">
              <h2>{{ book.title }}</h2>
              <p>{{ book.description }}</p>
            </div>
            <div class="book-image">
              <img src="https://placehold.jp/3cb371/006400/300x400.png?text=BOOK" alt="">
            </div>
          </a>
        </slide>
      {% endfor %}
    </carousel>
  </div>
</div>
