{% load books_extras %}
{% load humanize %}

<li>
  <div class="book-image">
    <a href="{% url 'detail' book.id %}">
      <img src="https://placehold.jp/ffa500/ff8c00/200x280.png?text=id{{ book.id }}" alt="">
    </a>
  </div>
  <div class="book-data">
    <div class="title"><a href="{% url 'detail' book.id %}">{{ book.middleTitle }}</a></div>
    <div class="author">{{ book.published_at|date:"Y/m/d" }} {{ book.author }}</div>
    <div class="rate-row">
      <span class="rate rate{{ book.rate__avg|rating }}"></span>
      <span class="rate-num">{{ book.rate__avg }}</span>
    </div>
    <div class="price"><span class="price-num">{{ book.price|intcomma }}</span>円　(税込)</div>
  </div>
</li>
