<aside class="sidebar">
  <div class="option-header">カテゴリ</div>
  <ul class="category-list">
    <li><a href="{% url 'search' %}?category=0">漫画</a></li>
    <li><a href="{% url 'search' %}?category=1">雑誌</a></li>
    <li><a href="{% url 'search' %}?category=2">小説</a></li>
    <li><a href="{% url 'search' %}?category=3">生活</a></li>
    <li><a href="{% url 'search' %}?category=4">ビジネス</a></li>
    <li><a href="{% url 'search' %}?category=5">教育</a></li>
  </ul>
  <div class="option-header">価格帯</div>
  <ul class="price-list">
    <li><a href="{% url 'search' %}?price=0">~1,000円</a></li>
    <li><a href="{% url 'search' %}?price=1">1,001円~3,000円</a></li>
    <li><a href="{% url 'search' %}?price=2">3,001円~5,000円</a></li>
  </ul>
  <div class="option-header">平均評価</div>
  <ul class="rate-list">
    <li><a href="{% url 'search' %}?rate=0">4以上</a></li>
    <li><a href="{% url 'search' %}?rate=1">3以上</a></li>
    <li><a href="{% url 'search' %}?rate=2">3未満</a></li>
  </ul>
</aside>
