{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% sass_src 'books/css/style.scss' %}">
  <title>Document</title>
</head>
<body id="{% block page_id %}{% endblock %}">
  {% include 'layouts/header.html' %}

  <div id="wrap">
    {% block content %}{% endblock %}
  </div>

  {% include 'layouts/footer.html' %}
  {% block script %}{% endblock %}
</body>
</html>
