{% load books_extras %}

<div class="user-comments">
  {% if comments %}
    <div class="general-rate">
      <div class="header">みんなの評価</div>
      <div class="rate total-rate rate{{ rate_average|rating }}"><span class="rate-num">{{ rate_average }}</span></div>
    </div>
    <ul>
      {% for comment in comments %}
        <li class="comment">
          <div class="title">{{ comment.title }}</div>
          <div class="rate rate{{ comment.rate }}"></div>
          <p class="body">{{ comment.body }}</p>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
