body {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  background: #4e454a;
  color: #efefef;
  font-family: "ヒラギノ角ゴシック";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #0073a8;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);

  .container {
    width: 1080px;
    margin: 0 auto;
  }

  .logo {
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 60px;

    &:first-letter {
      margin-right: -5px;
      color: #ff8f1f;
      font-size: 1.5em;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .search-box {
    float: left;
    width: 400px;
    margin: 12px 0 0 80px;

    .icon {
      float: left;
      margin: 6px 6px 0 0;

      img {
        display: block;

        width: 24px;
      }
    }

    #search {
      padding-left: 10px;
      width: 280px;
      height: 32px;
      font-size: 16px;
      border: 1px solid #cdcdcd;
      border-radius: 5px;
    }
  }

  .global-nav {
    float: right;
    height: 30px;
    margin-top: 15px;
    line-height: 30px;
    color: #fff;

    ul {
      font-size: 0;

      li {
        display: inline-block;
        width: 100px;
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

#index {
  .popular-books {
    padding: 30px 0;
    background: #24140e;

    h2 {
      font-size: 28px;
    }

    a {
      display: block;
      height: 360px;
      color: #fff;

      &:hover {
        opacity: 0.5;
      }
    }

    p:first-letter {
      font-size: 1.5em;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    .container {
      width: 960px;
      margin: 0 auto;

      .book-data {
        float: left;
        width: 600px;
      }

      .book-image {
        float: right;
        width: 360px;

        img {
          display: block;
          height: 360px;
          margin: 0 auto;
        }
      }
    }
  }

  .main-center {
    width: 1080px;
    margin: 0 auto;
  }
}

.category-book-slider {
  padding: 30px 0;

  h2 {
    text-align: center;
  }

  .comic-header {
    border-bottom-color: #ff8c00;
  }

  .magazine-header {
    border-bottom-color: #ff4500;
  }

  .novel-header {
    border-bottom-color: #6a5acd;
  }

  .life-header {
    border-bottom-color: #3cb371;
  }

  .business-header {
    border-bottom-color: #191970;
  }

  .VueCarousel-slide {
    a {
      display: block;
      color: #fff;
      text-decoration: none;

      &:hover {
        opacity: 0.5;
      }
    }

    img {
      display: block;
      height: 200px;
      margin: 0 auto;
    }

    .book-image {
      margin-bottom: 20px;
    }

    .book-title {
      text-align: center;
    }

    .book-price {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
  }

  .VueCarousel-navigation button {
    font-size: 24px;
  }
}

#wrap {
  width: 100%;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.main {
  margin: 50px auto 0 auto;
  width: 1080px;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .main-content {
    float: left;
    margin: 0 10px;
    width: 800px;
  }

  .rate {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 14px;
    font-size: 16px;

    &:before, &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '★★★★★';
      display: inline-block;
      height: 16px;
      line-height: 16px;
    }

    &:before {
      color: #ddd;
    }

    &:after {
      color: #ffa500;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .rate1:after {
    width: 20%;
  }

  .rate2:after {
    width: 40%;
  }

  .rate3:after {
    width: 60%;
  }

  .rate4:after {
    width: 80%;
  }

  .rate5:after {
    width: 100%;
  }

  .rate1-5:after {
    width: 30%;
  }

  .rate2-5:after {
    width: 50%;
  }

  .rate3-5:after {
    width: 70%;
  }

  .rate4-5:after {
    width: 90%;
  }

  .sidebar {
    display: block;
    float: right;
    margin: 0 10px 0 30px;
    width: 216px;

    .option-header, li {
      padding-left: 10px;
    }

    .option-header {
      position: relative;
      border-bottom: 1px solid #0073a8;
      line-height: 40px;
    }

    ul {
      margin-bottom: 20px;
    }

    li {
      position: relative;
      line-height: 45px;
      padding-left: 20px;
      border-bottom: 1px dashed gray;

      &:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-top: solid 1px #82cddd;
        border-right: solid 1px #82cddd;
        top: 18px;
        left: 0;
        transform: rotateZ(45deg);
      }
    }

    ul li:last-child {
      border: none;
    }

    a {
      text-decoration: none;
      color: #efefef;

      &:hover {
        text-decoration: underline;
        color: #0073a8;
      }
    }
  }
}

#detail {
  .book-detail {
    padding-bottom: 30px;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    .book-image {
      float: left;
      width: 300px;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    .book-data {
      float: left;
      width: 440px;

      .title {
        font-size: 22px;
        font-weight: bold;
      }

      .author {
        font-size: 18px;
      }

      .price {
        font-size: 30px;
        font-weight: bold;
        color: #f00;

        .yen, .taxin {
          font-size: 16px;
          font-weight: normal;
        }

        .taxin {
          color: #878787;
        }
      }

      .description {
        margin-top: 30px;
        width: 396px;
        padding-left: 20px;
        border-left: solid 2px gray;
      }
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .other-detail {
    padding: 30px 50px;
    border-top: dashed 1px gray;

    .header {
      font-size: 20px;
      margin-bottom: 20px;
    }

    tr {
      line-height: 36px;
    }

    th {
      width: 85px;
      text-align: left;
    }
  }

  .user-comments {
    background: #0073a8;
    padding: 20px 40px;

    .general-rate {
      margin: 20px 0;

      .header {
        font-weight: bold;
      }
    }

    .total-rate {
      width: 180px;
      font-size: 36px;

      &:before, &:after {
        margin-top: 10px;
        height: 36px;
        line-height: 36px;
      }

      .rate-num {
        padding-left: 190px;
      }
    }

    .comment {
      padding: 30px 0 30px 0;
      border-bottom: 1px solid #cdcdcd;

      &:last-child {
        border: none;
      }

      .title {
        font-weight: bold;
      }

      .body {
        margin: 0;
        margin-top: 10px;
      }
    }
  }
}

#search {
  .book-list {
    li {
      float: left;
      padding: 20px 0;
      width: 400px;
      height: 140px;
      border-bottom: 1px solid gray;

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .book-image {
      float: left;

      a:hover {
        opacity: 0.5;
      }

      img {
        width: 100px;
        height: 140px;
      }
    }

    .book-data {
      float: right;
      padding-left: 30px;
      padding-right: 20px;
      width: 250px;

      .title {
        line-height: 20px;
        height: 48px;
      }

      .title a {
        font-size: 16px;
        font-weight: bold;
        color: #efefef;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .author {
        font-size: 14px;
      }

      .rate-num {
        font-weight: bold;
      }

      .price {
        margin-top: 10px;

        .price-num {
          color: #ff4500;
          font-size: 24px;
          font-weight: bold;
        }
      }

    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .books-pagination {
    text-align: center;
  }

  .pagination {
    margin-top: 30px;
    display: inline-block;

    .page-item {
      float: left;
      width: 20px;
      height: 20px;
      padding: 10px;
      margin: 0 5px;

      a {
        display: block;
        border: none;
        color: #fff;
        text-decoration: none;

        &:hover {
          color: gray;
        }
      }
    }

    .active {
      background: #0073a8;
      border-radius: 50%;
      color: #fff;
    }

    .active span {
      display: block;
      border: none;
    }
  }
}

#add-book {
  .add_book_form {
    background: #efefef;
    padding: 50px;

    legend {
      color: #000;
      font-size: 20px;
      margin-bottom: 30px;
    }

    .errors {
      background: #ea5550;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;

      ul {
        padding-left: 20px;
        list-style: disc;
      }
    }

    table {
      border-spacing: 10px;
    }

    th {
      width: 80px;
      height: 28px;
      color: #000;
      text-align: left;
    }

    #id_title,#id_price,#id_author,#id_page_count,#id_category,#id_published_at {
      height: 28px;
      font-size: 16px;
      padding-left: 10px;
    }

    #id_description {
      height: 150px;
      width: 400px;
      padding: 5px;
      font-size: 14px;
    }

    #id_title,#id_author {
      width: 400px;
    }

    #id_price,#id_page_count,#id_category,#id_published_at {
      width: 120px;
    }

    .submit {
      margin-left: 105px;
      width: 100px;
      height: 40px;
      background: #0073a8;
      border: none;
      color: #fff;
      font-size: 16px;
    }

    .errorlist {
      display: none;
      color: red;
      font-size: 10px;
      margin-bottom: 5px;
    }

    .helptext {
      color: gray;
      font-size: 12px;
    }
  }
}

footer {
  margin-top: 50px;
  background: #0073a8;

  .footer-text {
    color: #fff;
    font-size: 14px;
    line-height: 2;
    text-align: center;
  }
}
