{% extends 'layouts/books.html' %}

{% block page_id %}add-book{% endblock %}

{% block content %}
  <form class="add_book_form" method="post">
    <legend>新しく本を追加しましょう。</legend>
    {% csrf_token %}

    <table>
      {{ form.as_table }}
    </table>
    <button class="submit" type="submit">追加</button>
  </form>
{% endblock %}
