{% extends 'layouts/top.html' %}

{% block page_id %}index{% endblock %}

{% block content %}
  {% include 'layouts/popular_book_slider.html' with books=popular_books %}
  <div class="main-center">
    {% include 'layouts/category_book_slider.html' with slider_elements=category_slider_elements %}
  </div>
{% endblock %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://ssense.github.io/vue-carousel/js/vue-carousel.min.js"></script>
  <script>
    var sliderIdList = [
      '#popular-books-slider',
      '#comic-slider',
      '#magazine-slider',
      '#novel-slider',
      '#life-slider',
      '#business-slider',
    ];

    sliderIdList.forEach(function(sliderId) {
      new Vue({
        el: sliderId,
        components: {
          'carousel': VueCarousel.Carousel,
          'slide': VueCarousel.Slide
        }
      });
    });
  </script>
{% endblock %}
