{% extends 'layouts/books.html' %}
{% load bootstrap_pagination %}

{% block page_id %}search{% endblock %}

{% block content %}
  <div class="book-list">
    <ul>
      {% for book in books %}
        {% include 'layouts/search_book.html' with book=book %}
      {% endfor %}
    </ul>
  </div>

  <div class="books-pagination">
    {% bootstrap_paginate books range=7 %}
  </div>
{% endblock %}
